In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("C:\\Users\\vijayanandanand\\OneDrive - Swinburne University\\Drive\\Vijay\\Personal_Projects\\Twitter_DataScrapping\\data\\Archive\\TweetData.csv")

In [4]:
df.head()

,id,conversation_id,created_at,date,time,timezone,user_id,username,name,place,...,geo,source,user_rt_id,user_rt,retweet_id,reply_to,retweet_date,translate,trans_src,trans_dest
0,1373553805904732161,1373553805904732161,2021-03-21 19:35:21 AUS Eastern Daylight Time,2021-03-21,19:35:21,1100,882698382120280066,paorvv,Ana Montana,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
1,1373553789521649665,1373553789521649665,2021-03-21 19:35:17 AUS Eastern Daylight Time,2021-03-21,19:35:17,1100,6536892,lxtrmstr,mxrk,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
2,1373553787353231361,1373553787353231361,2021-03-21 19:35:16 AUS Eastern Daylight Time,2021-03-21,19:35:16,1100,2804161314,lanternfans,Green Lantern,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN
3,1373553783020515329,1373427705190965255,2021-03-21 19:35:15 AUS Eastern Daylight Time,2021-03-21,19:35:15,1100,1371186491297124352,foxcooper008,Fox Cooper 008 1/2,NaN,...,NaN,NaN,NaN,NaN,NaN,"[{'screen_name': 'AliBondGirl', 'name': 'Ali',...",NaN,NaN,NaN,NaN
4,1373553781414096898,1373553781414096898,2021-03-21 19:35:15 AUS Eastern Daylight Time,2021-03-21,19:35:15,1100,796264862984781825,dinomon1128,Dino Montoya,NaN,...,NaN,NaN,NaN,NaN,NaN,[],NaN,NaN,NaN,NaN

In [5]:
df.shape

(45400, 36)

In [8]:
df = df[df.language == 'en']

In [11]:
df.shape

(27528, 36)